---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPostList from "../components/BlogPostList.astro"
import Tags from "../components/Tags.astro"
const allPosts = await Astro.glob('./posts/*.md')
const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]
const pageTitle = "my blog"
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Blog</h1>
  <Tags tags={uniqueTags} />
<BlogPostList posts={allPosts} />
</BaseLayout>
