---
const {title, url, date, description} = Astro.props
---
<a href={url} class="group block py-4">
  <article class="flex gap-x-4 items-baseline">
    <div class="flex-1">
      <h2 class="font-pixel group-hover:text-sky-500">{title}</h2>
      <p class="break-words text-pretty text-slate-500 font-medium">{description}</p>
    </div>
    <p class="font-pixel text-right w-36 flex-shrink-0 group-hover:text-sky-500">{date.toString().slice(0,10)}</p>
  </article>
</a>
