---
---
<footer class="flex justify-end items-center mt-12 opacity-50 gap-4 text-sm">
    <p >theme rebuilt from <a href="https://github.com/the3ash/astro-chiri/tree/main">chiri</a> </p>
    <a href="/rss.xml">rss</a>
    <a href="linkedin.com/in/evxu">linkedin</a>
</footer>
