---
---
<footer class="flex justify-end items-center mt-12 opacity-50 gap-4 text-sm">
    <p >theme rebuilt from <a href="https://github.com/the3ash/astro-chiri/tree/main">chiri</a> </p>
    <a href="/rss.xml">rss</a>
    <span class="">evxu [@] proton.me </span>
    <a href="https://github.com/whatsoevan" target="_blank" rel="noopener noreferrer">github</a>
    <a href="https://linkedin.com/in/evxu" target="_blank" rel="noopener noreferrer">linkedin</a>
</footer>
