---
import ThemeIcon from './ThemeIcon.astro'
---
<header class="flex justify-between py-8">
  <nav class="font-pixel text-xl nav-links">
    <a href="/">Home</a>
    <a href="/now/">Now</a>
    <a href="/blog/">Blog</a>
  </nav>

  <ThemeIcon />
</header> 
