---
import Hamburger from '../components/Hamburger.astro'
---
<header>
  <Hamburger />
  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </nav>
</header> 
