---
const {tags} = Astro.props
---

<div class="tags flex flex-wrap gap-2">
  {tags.map((tag) => 
  <a href=`/tags/${tag}` class="not-prose font-pixel bg-slate-400 px-2 hover:bg-sky-500 dark:bg-slate-800"> #{tag} </a>
  )}
</div>
