---
import BlogList from "../../components/BlogList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
---
<Header />

<BaseLayout>

<p>
    I did a small foray into writing in the summer of 2024.
    Originally intended to be a 52 post challenge that led me up until graduation,
    just to stave off summer rot, I eventually got busy living out my last year in university.
</p>

<p>
    Nevertheless, I'll always see these posts as the first time I tried to put my thoughts out there.
    I'll always be grateful for the few people that I shared some of these articles with.
    It filled me with such joy to share a peace of mind, and know that these articles had an impact on people I love.
</p>

    <BlogList folder="szn1"/>
</BaseLayout>
