---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/styles.css'
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href="/fonts/Sentient-Variable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title>Evan Xu</title>
  </head>
  <body class="bg-slate-200 dark:text-slate-300 dark:bg-gray-900 marker:text-blue-400">
    <div class="p-4 prose prose-slate prose-lg md:prose-xl dark:prose-invert mx-auto md:w-[768px]" >
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
